In [1]:
%ls .

 C 드라이브의 볼륨: SSD
 볼륨 일련 번호: BCA4-98AF

 C:\Users\inhoinno\Desktop\Ordered Softeware\2021 봄\빅데이터처리_신현석\HW_BIG 디렉터리

2021-06-04  오전 04:47    <DIR>          .
2021-06-04  오전 04:47    <DIR>          ..
2021-06-03  오전 01:58    <DIR>          .ipynb_checkpoints
2021-05-31  오후 08:41         7,362,645 1920_origin.zip
2021-06-04  오전 04:44    <DIR>          1920_preprocessed
2021-05-31  오후 08:40           378,221 1920_preprocessed.zip
2021-06-04  오전 04:43    <DIR>          1920_processed
2021-06-02  오후 08:48            74,295 2020_1_total.csv
2021-06-03  오후 09:50    <DIR>          copy
2021-06-03  오전 01:49         1,864,515 COVID_BigTable(stack).csv
2021-06-03  오전 01:49           195,556 COVID_BigTable.csv
2021-06-02  오후 08:59         2,555,166 Data_-Idxing.ipynb
2021-06-04  오전 04:47            10,023 Data_preprocessing_Auto.ipynb
2021-06-04  오전 04:46            58,933 Data_preprocessing1.ipynb
2021-05-31  오후 06:43            92,753 Data_preprocessing1-M45.ipynb
2021-06-02  오후 08:23    <DIR>          Data_preprocessing2-Idxing
2021-06-03  오전 01:56           254,823 Data_processing_CONCAT_MATPLOT_SEABORNv1_INHOINNO.ipynb
2021-06-02  오후 03:06    <DIR>          Data_processing_reshape_total
2021-06-02  오후 11:16            57,003 Data_processing2_reshape_total.ipynb
2021-06-03  오전 01:55            48,778 Data_processing3_Concat_Multi-Index_Type.ipynb
2021-06-03  오후 10:15             7,687 Data_processing3_Concat_Multi-Index_Type.zip
2021-06-04  오전 04:44         2,024,542 Data_Visualizing1.ipynb
2021-06-03  오후 09:09         1,233,943 Data_Visualizing1.zip
2021-06-03  오전 01:51           336,042 HW_BIG.zip
2021-05-31  오후 08:48            18,853 preprocessed_notebook.zip
2021-05-31  오후 08:48             1,363 Readme.md
2021-06-02  오후 09:25            38,084 sample.ipynb
2021-06-02  오후 03:00                72 Untitled.ipynb
              20개 파일          16,613,297 바이트
               8개 디렉터리  19,817,246,720 바이트 남음

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
YYYY=2019
M=2

In [4]:
FILE = './1920_preprocessed/{year}_{month}_total.csv'.format(year=YYYY, month=M) 
# Read CSV
data = pd.read_csv(FILE,encoding='utf-8')

data = data.drop(columns = data.columns[0])

In [5]:
data

      corp     city          2
0     업종전체       합계  2,305,692
1     업종전체    서울특별시    461,009
2     업종전체    인천광역시    116,392
3     업종전체      경기도    523,587
4     업종전체      강원도     82,869
...    ...      ...        ...
1813   pc방     경상북도        590
1814   pc방    부산광역시        668
1815   pc방    울산광역시        295
1816   pc방     경상남도        681
1817   pc방  제주특별자치도        175

[1818 rows x 3 columns]

In [6]:
# File
FILE = './1920_preprocessed/{year}_{month}_total.csv'.format(year=YYYY, month=M) 
    
# Read CSV
data = pd.read_csv(FILE,encoding='utf-8')

data = data.drop(columns = data.columns[0])
    
# 초기화
data_part0 = data[0:18]
data_part0 = data_part0.sort_index().reset_index(drop=True)
colName = data_part0['corp'][0]
data_part0 = data_part0.rename(columns={'2':colName})
data_part0 = data_part0.drop(columns=data_part0.columns[0])
result = data_part0
    
# Data processing
start = 18
end = 36
while(end <= 1818):
    data_part = data[start:end]
    data_part = data_part.sort_index().reset_index(drop=True)
    colName = data_part['corp'][0]
    data_part = data_part.rename(columns={'2':colName})
    data_part = data_part.drop(columns=data_part.columns[0])
    result = pd.merge(result, data_part)
    
    start += 18
    end += 18
    
    
result = result.rename(columns={'LPG충전소':'가스충전소'})
result = result.rename(columns={'LPG 충전소':'가스충전소'})
result = result.rename(columns={'pc방':'피시방'})
result = result.rename(columns={'PC방':'피시방'})
result = result.rename(columns={'교습소ㆍ공부방':'공부방'})
result = result.rename(columns={'교습소･공부방':'공부방'})
result = result.rename(columns={'교습소?공부방':'공부방'})
result = result.rename(columns={'city':'A. 도시명'})
result = result.rename(columns={'업종전체':'B. 업종전체'})
result = result.rename(columns={' 업종전체':'B. 업종전체'})
result = result.rename(columns={'업종':'B. 업종전체'})
result = result.sort_index(axis=1)
result

,A. 도시명,B. 업종전체,가구점,가스충전소,가전제품수리점,가전제품판매점,간이주점,간판광고물업,감정평가사,건강보조식품가게,...,편의점,피부ㆍ비뇨기과 의원,피부관리업,피시방,한방병원ㆍ한의원,한식전문점,헬스클럽,호프전문점,화장품가게,휴대폰가게
0,합계,"2,305,692","7,473","1,606","13,495","9,891","15,542","12,905","1,115","13,068",...,"39,586","3,815","33,474","10,464","14,722","379,459","7,205","34,627","35,067","17,998"
1,서울특별시,"461,009","1,015",76,"2,234","1,524","5,103","2,701",241,"2,082",...,"7,833","1,305","6,749","1,727","3,691","52,817","1,712","7,359","6,817","2,985"
2,인천광역시,"116,392",291,70,974,360,"1,623",545,73,620,...,"2,094",169,"1,917",535,678,"17,081",382,"1,831","1,451",900
3,경기도,"523,587","1,880",373,"3,784","1,829","2,978","3,115",358,"2,517",...,"9,649",796,"7,651","2,402","3,170","78,132","1,699","7,113","7,782","3,904"
4,강원도,"82,869",302,93,459,443,435,505,30,495,...,"1,598",58,964,419,357,"19,284",204,"1,478","1,078",594
5,대전광역시,"68,310",213,38,474,297,75,393,28,442,...,"1,069",110,"1,089",331,527,"11,524",228,"1,008","1,216",688
6,충청북도,"74,571",288,75,419,425,475,379,28,437,...,"1,411",72,993,334,400,"15,028",253,"1,803","1,040",545
7,충청남도,"97,898",308,128,562,516,720,449,35,"1,207",...,"2,099",95,"1,180",436,523,"19,116",266,"1,720","1,301",851
8,세종특별자치시,"11,441",20,4,47,37,19,31,12,37,...,229,15,142,40,74,"1,943",36,168,134,76
9,광주광역시,"68,245",212,41,401,342,187,442,32,399,...,"1,016",126,"1,424",424,417,"9,578",217,"2,394","1,118",586
10,전라북도,"82,532",391,101,456,527,360,494,41,701,...,"1,169",89,"1,060",443,538,"14,005",216,"1,376","1,411",734
11,전라남도,"83,006",268,124,453,580,258,463,18,500,...,"1,077",72,"1,235",377,401,"17,298",167,"2,441","1,062",614
12,대구광역시,"111,380",373,44,659,524,307,779,54,589,...,"1,448",203,"1,405",587,880,"19,578",358,578,"2,177","1,011"
13,경상북도,"125,839",461,164,489,694,405,640,19,887,...,"1,820",99,"1,400",590,635,"29,090",344,"1,055","1,877","1,090"
14,부산광역시,"153,305",519,57,824,624,"1,024",836,56,803,...,"2,357",326,"2,482",668,"1,145","23,786",493,"1,828","2,511","1,397"
15,울산광역시,"50,337",183,30,281,194,110,258,20,210,...,854,76,708,295,286,"10,829",134,354,964,503
16,경상남도,"153,264",566,152,802,731,"1,297",687,56,985,...,"2,803",165,"2,429",681,807,"31,852",390,"1,531","2,440","1,305"
17,제주특별자치도,"41,707",183,36,177,244,166,188,14,157,...,"1,060",39,646,175,193,"8,518",106,590,688,215

In [11]:
#result.to_csv('./1920_processed/{year}_{month}_processed.csv'.format(year=YYYY,month=M),sep=',',encoding='utf-8')

In [9]:
data

      corp     city          2
0     업종전체       합계  2,305,692
1     업종전체    서울특별시    461,009
2     업종전체    인천광역시    116,392
3     업종전체      경기도    523,587
4     업종전체      강원도     82,869
...    ...      ...        ...
1813   pc방     경상북도        590
1814   pc방    부산광역시        668
1815   pc방    울산광역시        295
1816   pc방     경상남도        681
1817   pc방  제주특별자치도        175

[1818 rows x 3 columns]

In [21]:
YYYY=2019
M=1
while(YYYY<2021):
    # File
    FILE = './1920_preprocessed/{year}_{month}_total.csv'.format(year=YYYY, month=M) 
    
    # Read CSV
    data = pd.read_csv(FILE,encoding='utf-8')
    
    data = data.drop(columns = data.columns[0])
    
    # 초기화
    data_part0 = data[0:18]
    data_part0 = data_part0.sort_index().reset_index(drop=True)
    colName = data_part0['corp'][0]
    data_part0 = data_part0.rename(columns={'2':colName})
    data_part0 = data_part0.drop(columns=data_part0.columns[0])
    result = data_part0
    
    # Data processing
    start = 18
    end = 36
    while(end <= 1818):
        data_part = data[start:end]
        data_part = data_part.sort_index().reset_index(drop=True)
        colName = data_part['corp'][0]
        data_part = data_part.rename(columns={'2':colName})
        data_part = data_part.drop(columns=data_part.columns[0])
        result = pd.merge(result, data_part)
    
        start += 18
        end += 18
    
    
    # 컬럼 처리
    result = result.rename(columns={'LPG충전소':'가스충전소'})
    result = result.rename(columns={'LPG 충전소':'가스충전소'})
    result = result.rename(columns={'pc방':'피시방'})
    result = result.rename(columns={'PC방':'피시방'})
    result = result.rename(columns={'교습소ㆍ공부방':'공부방'})
    result = result.rename(columns={'교습소･공부방':'공부방'})
    result = result.rename(columns={'교습소?공부방':'공부방'})
    result = result.rename(columns={'city':'A. 도시명'})
    result = result.rename(columns={'업종전체':'B. 업종전체'})
    result = result.rename(columns={' 업종전체':'B. 업종전체'})
    result = result.rename(columns={'업종':'B. 업종전체'})
    result = result.sort_index(axis=1)
    
    # Save to csv
    result.to_csv('./1920_processed/{year}_{month}_processed.csv'.format(year=YYYY,month=M),sep=',',encoding='utf-8') 
    
    
    print('{0}_{1}_fin'.format(YYYY,M))
    
    if(M + 1 >= 13): # M=12 Next year
        M = 1
        YYYY += 1
    else :     
        M += 1

2019_1_fin
2019_2_fin
2019_3_fin
2019_4_fin
2019_5_fin
2019_6_fin
2019_7_fin
2019_8_fin
2019_9_fin
2019_10_fin
2019_11_fin
2019_12_fin
2020_1_fin
2020_2_fin
2020_3_fin
2020_4_fin
2020_5_fin
2020_6_fin
2020_7_fin
2020_8_fin
2020_9_fin
2020_10_fin
2020_11_fin
2020_12_fin

In [22]:
result

,A. 도시명,B. 업종전체,가구점,가스충전소,가전제품수리점,가전제품판매점,간이주점,간판광고물업,감정평가사,건강보조식품가게,...,편의점,피부ㆍ비뇨기과 의원,피부관리업,피시방,한방병원ㆍ한의원,한식전문점,헬스클럽,호프전문점,화장품가게,휴대폰가게
0,합계,"2,548,586","7,650","1,611","16,962","10,186","12,219","12,996","1,234","13,988",...,"44,858","4,071","42,168","9,970","14,947","397,465","8,569","29,002","35,004","18,737"
1,서울특별시,"508,188","1,025",78,"2,818","1,534","3,849","2,574",267,"2,310",...,"8,133","1,404","7,916","1,565","3,699","54,784","2,093","5,939","6,529","3,103"
2,인천광역시,"131,544",309,70,"1,203",396,"1,239",552,81,665,...,"2,401",187,"2,376",541,703,"18,866",459,"1,561","1,445","1,066"
3,경기도,"607,611","2,069",370,"5,024","2,060","2,504","3,225",399,"2,836",...,"11,500",860,"10,150","2,402","3,298","83,129","2,068","6,084","8,071","4,391"
4,강원도,"89,174",298,93,575,464,373,519,35,513,...,"1,865",62,"1,214",430,373,"19,881",246,"1,216","1,092",634
5,대전광역시,"73,542",211,39,560,306,75,382,32,480,...,"1,237",114,"1,306",298,517,"11,821",269,773,"1,226",653
6,충청북도,"80,408",275,74,495,412,391,383,32,435,...,"1,615",81,"1,256",359,406,"15,764",276,"1,533",985,551
7,충청남도,"106,102",299,130,705,532,544,479,38,"1,272",...,"2,383",99,"1,487",452,517,"20,013",292,"1,391","1,356",886
8,세종특별자치시,"14,380",30,4,86,46,15,29,12,60,...,295,16,202,45,82,"2,157",47,122,165,82
9,광주광역시,"73,840",220,38,477,348,166,431,35,415,...,"1,091",124,"1,780",464,404,"10,334",238,"1,997","1,185",577
10,전라북도,"88,047",411,111,573,530,272,511,39,734,...,"1,335",97,"1,405",391,541,"14,620",244,"1,124","1,474",722
11,전라남도,"89,239",277,119,524,570,244,490,20,478,...,"1,295",78,"1,574",377,398,"18,001",192,"2,106","1,059",586
12,대구광역시,"120,587",366,42,822,490,235,756,58,593,...,"1,747",215,"1,799",516,899,"19,898",414,483,"2,114","1,010"
13,경상북도,"134,420",478,166,606,695,332,675,18,936,...,"2,099",104,"1,854",543,640,"29,765",376,948,"1,900","1,052"
14,부산광역시,"166,264",491,59,999,612,763,826,60,830,...,"2,650",336,"2,981",580,"1,161","25,205",608,"1,549","2,435","1,343"
15,울산광역시,"53,737",164,29,312,202,90,265,23,228,...,973,78,916,240,286,"11,071",143,319,957,508
16,경상남도,"164,113",536,155,989,739,971,702,69,"1,023",...,"3,039",172,"3,158",599,824,"33,088",468,"1,252","2,347","1,329"
17,제주특별자치도,"47,390",191,34,194,250,156,197,16,180,...,"1,200",44,794,168,199,"9,068",136,605,664,244