In [12]:
%ls .

 C 드라이브의 볼륨: SSD
 볼륨 일련 번호: BCA4-98AF

 C:\Users\inhoinno\Desktop\Ordered Softeware\2021 봄\빅데이터처리_신현석\HW_BIG 디렉터리

2021-06-02  오후 11:14    <DIR>          .
2021-06-02  오후 11:14    <DIR>          ..
2021-06-02  오후 10:28    <DIR>          .ipynb_checkpoints
2021-05-31  오후 08:41         7,362,645 1920_origin.zip
2021-06-02  오후 11:05    <DIR>          1920_preprocessed
2021-05-31  오후 08:40           378,221 1920_preprocessed.zip
2021-06-02  오후 11:13    <DIR>          1920_processed
2021-06-02  오후 08:48            74,295 2020_1_total.csv
2021-05-31  오후 06:43             8,126 Data_preprocessing_Auto.ipynb
2021-06-02  오후 08:50            58,221 Data_preprocessing1.ipynb
2021-05-31  오후 06:43            92,753 Data_preprocessing1-M45.ipynb
2021-06-02  오후 08:23    <DIR>          Data_preprocessing2-Idxing
2021-06-02  오후 08:59         2,555,166 Data_preprocessing2-Idxing.ipynb
2021-06-02  오후 11:14           222,515 Data_processing_CONCAT_MATPLOT_SEABORNv1_INHOINNO.ipynb
2021-06-02  오후 03:06    <DIR>          Data_processing_reshape_total
2021-06-02  오후 11:09            56,805 Data_processing_reshape_total.ipynb
2021-06-02  오후 10:24            40,153 Data_processing_reshape_total_2.ipynb
2021-05-31  오후 08:48            18,853 preprocessed_notebook.zip
2021-05-31  오후 08:48             1,363 Readme.md
2021-06-02  오후 09:25            38,084 sample.ipynb
2021-06-02  오후 03:00                72 Untitled.ipynb
              14개 파일          10,907,272 바이트
               7개 디렉터리  20,535,541,760 바이트 남음

In [13]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [14]:
YYYY=2019
M=6

In [15]:
FILE = './1920_preprocessed/{year}_{month}_total.csv'.format(year=YYYY, month=M) 
# Read CSV
data = pd.read_csv(FILE,encoding='utf-8')

data = data.drop(columns = data.columns[0])

In [16]:
data

      corp     city          2
0     업종전체       합계  2,350,456
1     업종전체    서울특별시    468,708
2     업종전체    인천광역시    119,193
3     업종전체      경기도    538,423
4     업종전체      강원도     84,145
...    ...      ...        ...
1813   PC방     경상북도        583
1814   PC방    부산광역시        650
1815   PC방    울산광역시        284
1816   PC방     경상남도        678
1817   PC방  제주특별자치도        174

[1818 rows x 3 columns]

In [18]:
# File
FILE = './1920_preprocessed/{year}_{month}_total.csv'.format(year=YYYY, month=M) 
    
# Read CSV
data = pd.read_csv(FILE,encoding='utf-8')

data = data.drop(columns = data.columns[0])
    
# 초기화
data_part0 = data[0:18]
data_part0 = data_part0.sort_index().reset_index(drop=True)
colName = data_part0['corp'][0]
data_part0 = data_part0.rename(columns={'2':colName})
data_part0 = data_part0.drop(columns=data_part0.columns[0])
result = data_part0
    
# Data processing
start = 18
end = 36
while(end <= 1818):
    data_part = data[start:end]
    data_part = data_part.sort_index().reset_index(drop=True)
    colName = data_part['corp'][0]
    data_part = data_part.rename(columns={'2':colName})
    data_part = data_part.drop(columns=data_part.columns[0])
    result = pd.merge(result, data_part)
    
    start += 18
    end += 18
    
    
result = result.rename(columns={'LPG충전소':'가스충전소'})
result = result.rename(columns={'LPG 충전소':'가스충전소'})
result = result.rename(columns={'pc방':'피시방'})
result = result.rename(columns={'PC방':'피시방'})
result = result.rename(columns={'교습소ㆍ공부방':'공부방'})
result = result.rename(columns={'교습소･공부방':'공부방'})
result = result.rename(columns={'교습소?공부방':'공부방'})
result = result.rename(columns={'city':'A. 도시명'})
result = result.rename(columns={'업종전체':'B. 업종전체'})
result = result.rename(columns={' 업종전체':'B. 업종전체'})
result = result.rename(columns={'업종':'B. 업종전체'})
result = result.sort_index(axis=1)
result

,A. 도시명,B. 업종전체,가구점,가스충전소,가전제품수리점,가전제품판매점,간이주점,간판광고물업,감정평가사,건강보조식품가게,...,편의점,피부ㆍ비뇨기과 의원,피부관리업,피시방,한방병원ㆍ한의원,한식전문점,헬스클럽,호프전문점,화장품가게,휴대폰가게
0,합계,"2,350,456","7,478","1,612","15,023","10,066","15,175","12,957","1,134","13,222",...,"40,801","3,860","35,700","10,391","14,803","383,093","7,390","34,296","35,070","18,011"
1,서울특별시,"468,708","1,022",77,"2,397","1,549","4,943","2,690",244,2119,...,"7,983","1,320","7,060","1,698","3,710","53,100","1,762","7,255","6,763","3,047"
2,인천광역시,"119,193",288,70,"1,080",361,"1,583",536,77,640,...,"2,183",169,"2,040",531,689,"17,386",394,"1,796","1,448",911
3,경기도,"538,423","1,903",379,"4,292","1,895","2,963","3,143",362,2587,...,"10,021",810,"8,271","2,414","3,201","79,073","1,774","7,120","7,835","3,918"
4,강원도,"84,145",304,94,532,463,432,511,29,503,...,"1,637",58,"1,035",433,359,"19,453",210,"1,431","1,091",594
5,대전광역시,"69,213",210,38,509,306,69,397,29,454,...,"1,106",110,"1,161",333,524,"11,553",232,"1,006","1,220",662
6,충청북도,"76,004",288,75,461,435,463,376,28,442,...,"1,458",75,"1,054",331,403,"15,214",258,"1,805","1,030",546
7,충청남도,"99,714",299,129,645,516,704,456,36,1219,...,"2,166",98,"1,262",444,526,"19,327",263,"1,666","1,314",861
8,세종특별자치시,"12,030",23,4,65,39,19,27,12,43,...,245,15,155,42,73,"2,006",34,158,141,68
9,광주광역시,"69,512",213,39,450,356,191,438,32,394,...,"1,027",124,"1,522",421,415,"9,726",225,"2,361","1,136",578
10,전라북도,"83,766",384,101,504,530,328,500,41,702,...,"1,196",88,"1,134",424,539,"14,123",220,"1,358","1,416",727
11,전라남도,"84,264",269,123,488,580,259,473,18,488,...,"1,112",73,"1,307",380,401,"17,508",165,"2,374","1,062",609
12,대구광역시,"113,030",373,45,723,528,294,777,56,586,...,"1,525",202,"1,531",571,884,"19,570",365,577,"2,156","1,017"
13,경상북도,"127,628",468,163,539,700,410,651,19,879,...,"1,872",104,"1,496",583,644,"29,218",344,"1,035","1,870","1,060"
14,부산광역시,"155,470",511,58,945,620,"1,000",840,57,808,...,"2,420",327,"2,609",650,"1,144","24,153",500,"1,851","2,478","1,371"
15,울산광역시,"50,861",181,30,303,205,111,256,21,216,...,894,76,782,284,283,"10,887",133,365,971,502
16,경상남도,"155,386",554,151,896,740,"1,231",695,58,980,...,"2,845",169,"2,588",678,815,"32,161",402,"1,509","2,451","1,312"
17,제주특별자치도,"43,109",188,36,194,243,175,191,15,162,...,"1,111",42,693,174,193,"8,635",109,629,688,228

In [19]:
data

      corp     city          2
0     업종전체       합계  2,350,456
1     업종전체    서울특별시    468,708
2     업종전체    인천광역시    119,193
3     업종전체      경기도    538,423
4     업종전체      강원도     84,145
...    ...      ...        ...
1813   PC방     경상북도        583
1814   PC방    부산광역시        650
1815   PC방    울산광역시        284
1816   PC방     경상남도        678
1817   PC방  제주특별자치도        174

[1818 rows x 3 columns]

In [20]:
YYYY=2019
M=1
while(YYYY<2021):
    # File
    FILE = './1920_preprocessed/{year}_{month}_total.csv'.format(year=YYYY, month=M) 
    
    # Read CSV
    data = pd.read_csv(FILE,encoding='utf-8')
    
    data = data.drop(columns = data.columns[0])
    
    # 초기화
    data_part0 = data[0:18]
    data_part0 = data_part0.sort_index().reset_index(drop=True)
    colName = data_part0['corp'][0]
    data_part0 = data_part0.rename(columns={'2':colName})
    data_part0 = data_part0.drop(columns=data_part0.columns[0])
    result = data_part0
    
    # Data processing
    start = 18
    end = 36
    while(end <= 1818):
        data_part = data[start:end]
        data_part = data_part.sort_index().reset_index(drop=True)
        colName = data_part['corp'][0]
        data_part = data_part.rename(columns={'2':colName})
        data_part = data_part.drop(columns=data_part.columns[0])
        result = pd.merge(result, data_part)
    
        start += 18
        end += 18
    
    
    # 컬럼 처리
    result = result.rename(columns={'LPG충전소':'가스충전소'})
    result = result.rename(columns={'LPG 충전소':'가스충전소'})
    result = result.rename(columns={'pc방':'피시방'})
    result = result.rename(columns={'PC방':'피시방'})
    result = result.rename(columns={'교습소ㆍ공부방':'공부방'})
    result = result.rename(columns={'교습소･공부방':'공부방'})
    result = result.rename(columns={'교습소?공부방':'공부방'})
    result = result.rename(columns={'city':'A. 도시명'})
    result = result.rename(columns={'업종전체':'B. 업종전체'})
    result = result.rename(columns={' 업종전체':'B. 업종전체'})
    result = result.rename(columns={'업종':'B. 업종전체'})
    result = result.sort_index(axis=1)
    
    # Save to csv
    result.to_csv('./1920_processed/{year}_{month}_processed.csv'.format(year=YYYY,month=M),sep=',',encoding='utf-8') 
    
    
    print('{0}_{1}_fin'.format(YYYY,M))
    
    if(M + 1 >= 13): # M=12 Next year
        M = 1
        YYYY += 1
    else :     
        M += 1

2019_1_fin
2019_2_fin
2019_3_fin
2019_4_fin
2019_5_fin
2019_6_fin
2019_7_fin
2019_8_fin
2019_9_fin
2019_10_fin
2019_11_fin
2019_12_fin

PermissionError: [Errno 13] Permission denied: './1920_processed/2020_1_processed.csv'

In [32]:
result

,A. 도시명,B. 업종전체,가구점,가스충전소,가전제품수리점,가전제품판매점,간이주점,간판광고물업,감정평가사,건강보조식품가게,...,편의점,피부ㆍ비뇨기과 의원,피부관리업,피시방,한방병원ㆍ한의원,한식전문점,헬스클럽,호프전문점,화장품가게,휴대폰가게
0,합계,"2,400,922","7,522","1,607","15,266","10,098","14,619","12,995","1,171","13,535",...,"41,815","3,915","37,673","10,185","14,856","387,597","7,716","33,423","35,228","18,161"
1,서울특별시,"478,626","1,024",75,"2,416","1,531","4,726","2,663",255,"2,180",...,"8,004","1,343","7,308","1,646","3,701","53,543","1,855","7,011","6,721","3,085"
2,인천광역시,"122,152",300,68,"1,089",369,"1,517",550,78,662,...,"2,220",174,"2,152",519,697,"17,866",417,"1,747","1,434",938
3,경기도,"555,114","1,916",370,"4,486","1,935","2,880","3,185",376,"2,684",...,"10,381",823,"8,830","2,361","3,231","80,225","1,858","6,911","7,912","4,037"
4,강원도,"85,495",303,96,528,469,429,514,33,500,...,"1,696",58,"1,074",431,366,"19,583",221,"1,400","1,114",615
5,대전광역시,"70,566",211,38,517,305,75,395,30,458,...,"1,155",112,"1,197",326,523,"11,712",251,965,"1,261",645
6,충청북도,"77,353",288,75,466,435,471,377,29,443,...,"1,494",77,"1,125",341,406,"15,360",269,"1,763","1,062",542
7,충청남도,"101,287",295,127,647,533,668,457,36,"1,247",...,"2,218",99,"1,340",439,525,"19,606",271,"1,602","1,303",858
8,세종특별자치시,"12,645",24,4,70,40,15,27,12,53,...,261,15,168,43,75,"2,086",38,153,150,71
9,광주광역시,"70,886",217,38,448,347,193,438,37,400,...,"1,043",124,"1,598",409,413,"9,904",229,"2,314","1,170",573
10,전라북도,"85,059",396,108,495,531,325,499,38,719,...,"1,230",90,"1,212",417,540,"14,256",231,"1,357","1,471",719
11,전라남도,"85,580",271,122,499,579,248,474,18,492,...,"1,159",75,"1,398",363,395,"17,639",170,"2,319","1,057",595
12,대구광역시,"115,229",368,44,725,521,281,775,55,588,...,"1,574",201,"1,624",571,887,"19,631",378,586,"2,141","1,017"
13,경상북도,"129,587",472,164,548,701,389,656,20,895,...,"1,955",103,"1,599",572,646,"29,444",358,"1,042","1,877","1,059"
14,부산광역시,"157,859",512,57,939,612,931,834,58,831,...,"2,475",328,"2,725",641,"1,148","24,489",519,"1,818","2,462","1,360"
15,울산광역시,"51,612",180,30,301,200,112,260,19,215,...,915,77,828,269,285,"10,949",127,346,974,494
16,경상남도,"157,602",550,155,896,746,"1,183",698,62,"1,001",...,"2,900",173,"2,775",666,820,"32,537",416,"1,451","2,430","1,319"
17,제주특별자치도,"44,270",195,36,196,244,176,193,15,167,...,"1,135",43,720,171,198,"8,767",108,638,689,234